<html>
	{% load static %}
	{% load helper %}
	<head>
		<title>SoleBuy</title>

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'styles/common.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
	</head>
	<body onload="displayCategoryBar(true)">
		{% include "top_nav.html" %}

		<div class="content">
			<div class="slogan">
				<div class="slogan-word" style="background-color: rgb(100, 100, 100)">
					<h1>Search.</h1>
				</div>
				<div class="slogan-word" style="background-color: rgb(200, 200, 200)">
					<h1 style="color: rgb(40, 40, 40)">Answer.</h1>
				</div>
				<div class="slogan-word" style="background-color: rgb(150, 150, 150)">
					<h1>Done.</h1>
				</div>
			</div>
			<div class="pitch">
				<h1>Why SoleBuy?</h1>
				<p><b>No</b> long reviews. <b>No</b> abstract spec sheets. <b>No</b> biased marketing.</p>
				<p>Our goal is to simplify online shopping.</p>
				<p>We only show you the products that should be bought.<br>
					You just answer some questions so we can make our recommendation.</p>
				<p>That's it.</p>
				<p>SoleBuy is completely free, ad-free, and account-free, just use our links!<br>
					To get started, explore a category above.</p>
			</div>
		</div>
	</body>

	<script src="{% static 'scripts/topnav.js' %}"></script>

</html>
