<html>
	{% load static %}
	{% load helper %}
	<head>
		<title>SoleBuy</title>

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'styles/common.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
	</head>
	<body onload="displayCategoryBar(true)">
		{% include "top_nav.html" %}

		<div class="content">
			<div class="slogan">
				<h1 style="color: rgb(75, 75, 75)">Search.&nbsp;</h1>
				<h1 style="color: rgb(90, 90, 90)">Answer.&nbsp;</h1>
				<h1 style="color: rgb(60, 60, 60)">Done.&nbsp;</h1>
			</div>
			<div class="pitch">
				<div class="con">
				<p style="margin-top: 0"><b>No</b> long reviews. <b>No</b> abstract spec sheets. <b>No</b> biased marketing.</p>
				<p>Our goal is to help find the product best for you.</p>
				<p>We only show you the products that should be bought.<br>
					You just answer some questions so we can make our recommendation.</p>
				<p>That's it.</p>
				<p>SoleBuy is completely free, ad-free, and account-free, just use our links!<br>
					To get started, explore a category above.</p>
				</div>
			</div>
		</div>
	</body>

	<script src="{% static 'scripts/top_nav.js' %}"></script>

</html>
