.content .slogan {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    padding: 10vmin 0 0 1vw;
    background-color: rgb(245, 245, 245);
}

.content .slogan h1 {
    margin: 0;
    font-size: 7vmax;
    font-weight: normal;
}

.content .pitch {
    display: flex;
    flex: 1;
    justify-content: center;
}

.content .pitch .con {
    margin: 3vh 2vw 0 2vw;
    display: inline-block;
}

.content .pitch .con p {
    margin: 25px 0 25px 0;
    font-size: 35px;
    font-weight: normal;
    line-height: 45px;
    color: rgb(50, 50, 50);
}
