.content .slogan {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    padding: 10vmin 0 0 1vw;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(220, 220, 220);
}

.content .slogan h1 {
    margin: 0;
    font-size: 7vmax;
    font-weight: normal;
}

.content .pitch {
    margin: 4vh 5vw 0 5vw;
}

.content .pitch p {
    margin: 25px 0 25px 0;
    font-size: 35px;
    font-weight: normal;
    line-height: 45px;
    color: rgb(50, 50, 50);
}
