.content .slogan {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 350px;
    max-width: 500px;
    height: 100%;
}

.content .slogan-word {
    display: flex;
    height: calc(100% / 3);

    justify-content: center;
    align-items: center;
}

.content .slogan .slogan-word h1 {
    margin: 0px;
    font-size: 85px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.content .pitch {
    flex: 1;
    padding: 40px 50px 40px 50px;
    overflow: auto;
    border-top: 1px solid rgb(221, 221, 221);
}

.content .pitch h1 {
    margin: 0px 0px 10px 0px;
    font-size: 90px;
    font-weight: normal;
    color: rgb(50, 50, 50);
}

.content .pitch p {
    font-size: 35px;
    font-weight: normal;
    color: rgb(50, 50, 50);
}

@media only screen and (max-width: 1000px) {
    .content {
        flex-direction: column;
    }

    .content .slogan {
        flex-direction: row;
        height: auto;
        width: 100%;
        min-width: unset;
        max-width: unset;
    }

    .content .slogan-word {
        width: calc(100% / 3);
        min-height: 60px;
    }

    .content .slogan .slogan-word h1 {
        font-size: 40px;
    }

    .content .pitch {
        padding: 20px 20px 0px 20px;
    }

    .content .pitch h1 {
        font-size: 60px;
    }

    .content .pitch p {
        margin-top: 20px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .content .slogan .slogan-word h1 {
        font-size: 30px;
    }
}

/* .content .search {
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 40%;
    max-width: 800px;
    min-width: 500px;

    padding: 8px 8px 8px 8px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 5px;
}

.content .search input[type=text] {
    position: absolute;
    float: left;
    width: calc(100% - 45px);
    top: 50%;
    transform: translate(0%, -50%);

    font-size: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    border: none;
    outline: none;
} */
