.topnav {
    background-color: #222222;
}

.topnav-header a {
    color: #ffffff;
    text-decoration: none; /* Link style (i.e underline, overline, etc.) */
}

.topnav-header a:hover {
    color: #dddddd;
}
