.content .message {
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;

    justify-content: center;
}

.content .message h1 {
    margin: 0px;
    text-align: center;
    font-weight: normal;
    font-size: 130px;
    color: rgb(130, 130, 130);
}

.content .message h2 {
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    color: rgb(130, 130, 130);
}
