.content .inner-content {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
}

.content .inner-content .slogan {
    position: relative;
    width: 25%;
    min-width: 350px;
    height: 100%;
}

.content .inner-content .slogan-word {
    display: flex;
    height: calc(100% / 3);

    justify-content: center;
    align-items: center;
}

.content .inner-content .slogan .slogan-word h1 {
    padding: 0px 100px 0px 100px;
    margin: 0px 0px 0px 0px;
    font-size: 85px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.content .inner-content .pitch {
    width: 75%;

    padding: 40px 50px 40px 50px;
    overflow: auto;
}

.content .inner-content .pitch h1 {
    margin: 0px 0px 10px 0px;
    font-size: 90px;
    font-weight: normal;
    color: rgb(50, 50, 50);
}

.content .inner-content .pitch h2 {
    margin: 40px 0px 3px 0px;
    font-size: 35px;
    font-weight: normal;
    color: rgb(50, 50, 50);
}

.slogan-mobile {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .content .inner-content {
        height: calc(100% - 180px);
    }

    .content .inner-content .slogan {
        display: none;
    }

    .content .slogan-mobile {
        display: flex;
        height: 80px;

        background-color: red;
    }

    .content .slogan-mobile .slogan-word-mobile {
        display: flex;
        width: calc(100% / 3);
        height: 100%;

        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content .slogan-mobile .slogan-word-mobile h1 {
        margin: 0px;
        padding: 20px 0px 20px 0px;
        font-weight: normal;
        color: rgb(255, 255, 255);
    }

    .content .inner-content .pitch {
        width: 100%;

        padding: 20px 20px 0px 20px;
    }

    .content .inner-content .pitch h1 {
        font-size: 60px;
    }

    .content .inner-content .pitch h2 {
        margin-top: 20px;
        font-size: 30px;
    }
}

/* .content .inner-content .search {
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 40%;
    max-width: 800px;
    min-width: 500px;

    padding: 8px 8px 8px 8px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 5px;
}

.content .inner-content .search input[type=text] {
    position: absolute;
    float: left;
    width: calc(100% - 45px);
    top: 50%;
    transform: translate(0%, -50%);

    font-size: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    border: none;
    outline: none;
} */
