.product-popup-container {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.product-popup-container .product-popup {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0 0 4vh 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 0 0;
    overflow: auto;
}

.product-popup-container .product-popup .image-container {
    width: 350px;

    margin: 4vh 0 0 0;
}

.product-popup-container .product-popup img {
    width: 100%;
}

.product-popup-container .product-popup .image-container h1 {
    margin: 15px 0 0 0;
    font-size: 25px;
    color: rgb(32, 32, 32);
}

.product-popup-container .product-popup .summaries {
    width: 50%;
    min-width: 470px;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    margin: 4vh 2vw 0 2vw;
}

.product-popup-container .product-popup .summaries h1 {
    margin: 0 0 7px 0;
    font-size: 22px;
}

.product-popup-container .product-popup .summaries p {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}

.product-popup-container .product-popup .specs {
    max-width: 500px;

    margin: 4vh 0 0 0;
}

.product-popup-container .product-popup .specs h1 {
    margin: 0 0 5px 0;
    font-size: 22px;
}

.product-popup-container .product-popup .specs .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-popup-container .product-popup .details .detail {
    display: flex;

    margin: 8px 20px 8px 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
}

.product-popup-container .product-popup .details .detail .label h1 {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(25, 25, 25);
}

.product-popup-container .product-popup .details .detail .value {
    background-color: rgb(235, 235, 235);
    border-radius: 0 10px 10px 0;
}

.product-popup-container .product-popup .details .detail .value h1 {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    color: rgb(25, 25, 25);
    font-weight: normal;
}

@media only screen and (max-width: 580px) {
    .product-popup-container .product-popup .summaries {
        width: 95vw;
        min-width: unset;
        max-width: unset;
    }

    .product-popup-container .product-popup .details {
        padding-bottom: 17vh;
    }
}
