body {
    background-color: #f7f7f7;
    padding-top: 50px; /* Space for the navigation bar */
    margin: 0;
    font-family: Roboto;
}

.topnav {
    position: fixed; /* Always stay at top */
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;

    background-color: #111111;
    overflow: hidden; /* Always stay on top */
}

.topnav-center-header {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-center-header a {
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.topnav-center-header a:hover {
    color: #dddddd;
}


.topnav-center-header img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.topnav-right-header {
    position: absolute;
    float: left;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
}

.topnav-right-header a {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.topnav-right-header a:hover {
    color: #dddddd;
}

.content {
    position: relative;
    width: 100%;
    margin: 0;
}

.search {
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 40%;

    font-size: 30px;
    border: 2px solid #444444;
    border-radius: 5px;
    padding: 7px 0px 7px 13px;
}

.search img, input[type=image] {
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 22px;
    height: 22px;
}

.search input[type=text] {
    float: left;
    width: 100%;
    height: 100%;

    margin-left: 40px;
    margin-right: 50px;
    padding: 5px 0 5px 0;
    font-size: 25px;
    background-color: #f7f7f7;
    color: #222222;
    border: none;
    outline: none;
}
