<html>
	{% load static %}
	{% load helper %}
	<head>
		<title>SoleBuy - {{ categoryForm.name.value }}</title>

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'styles/common.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/category.css' %}">
	</head>
	<body>
		{% include "topnav/topnav_with_search.html" %}

		<div class="content">
			<form action="" method="POST">
				{% csrf_token %}
				<div class="filters">
					{% for assister in assisters %}
						<div class="filter">
							<h3>{{ assister.prompt }}</h3>
							<hr>
							{% with forloop.counter0|stringformat:"i" as assisterId %}
								{% for filterText in assister.filters %}
									{% with assisterId|determineButtonValue:forloop.counter0 as buttonValue %}
										<button type="Submit" name="button" value={{ buttonValue }} style="{{ buttonValue|buildButtonStyle:filterIdMap }}">{{ filterText }}</button>
									{% endwith %}
								{% endfor %}
							{% endwith %}
						</div>
					{% endfor %}
				</div>
			</form>
			<div class="results">
				<div class="products">
					<form id="productForm" action="" method="POST">
						<input id="productInput" type="hidden" name="urlName"/>
						{% csrf_token %}
						{% for product in products %}
							<div class="product" onclick="submitProductForm('{{ product.urlName }}')">
								{% with "images/products/"|add:product.imagePath as productImagePath %}
									<img src="{% static productImagePath %}" alt="iPhone SE">
								{% endwith %}
								<div class="details">
									<h1>{{ product.name }}</h1>
									<h2><b>${{ product.price }}</b></h2>
									<hr>
									{% for pro in product.pros %}
										<div class="procon">
											<img src="{% static 'images/plus.png' %}" alt="Plus">
											<h1>{{ pro }}</h1>
										</div>
									{% endfor %}
									<div class="spacer"></div>
									{% for con in product.cons %}
										<div class="procon">
											<img src="{% static 'images/minus.png' %}" alt="Plus">
											<h1>{{ con }}</h1>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					</form>
				</div>
			</div>
		</div>

		{% if product != None %}
			{% include "product_popup.html" %}
		{% endif %}

	</body>

	<script src="{% static 'scripts/category.js' %}"></script>
</html>
