<html>
	{% load static %}
	{% load helper %}
	<head>
		<title>SoleBuy - {{ category.name }}</title>

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'styles/common.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/category.css' %}">
	</head>
	<body>
		{% include "top_nav.html" %}
		{% include "assister_help_popup.html" %}
		{% include "product_popup.html" %}

		<div id="categoryContent" class="content">
			<div class="assisters">
				{% for assisterData in assistersData %}
					<div class="assister">
						<h1>{{ assisterData.prompt }}</h1>
						<h2>
							{% if assisterData.decisive %} * select one
							{% else %} * select multiple
							{% endif %}
						</h2>
						<form action="" method="POST">
							{% csrf_token %}
							{% with forloop.counter0|stringformat:"i" as assisterId %}
								{% for contents, explanation in assisterData.filtersData.items %}
									{% with assisterId|determineButtonValue:forloop.counter0 as buttonValue %}
										<button type="Submit" name="filterField" value={{ buttonValue }}
										style="{{ buttonValue|buildButtonStyle:userAFIds }}">{{ contents }}</button>
									{% endwith %}
								{% endfor %}
							{% endwith %}
						</form>
						{% with 1|buildIndexedId:assisterData.id as assisterIndexedId %}
							{{ assisterData|json_script:assisterIndexedId }}
							<h3 onclick="displayAssisterPopup({{ assisterIndexedId }})">Help me decide</h3>
						{% endwith %}
					</div>
				{% endfor %}
			</div>
			<div class="results">
				<div class="header">
					<form action="" method="POST">
						{% csrf_token %}
						{{ sortForm }}
					</form>
				</div>
				<div class="products">
					{% for product in products %}
						{% with 2|buildIndexedId:product.data.id as productIndexedId %}
						{{ product.data|json_script:productIndexedId }}
						<div class="product" onclick="displayProductPopup({{ productIndexedId }})">
						{% endwith %}
							<div class="image-container">
								{% with category.name|buildProductImagePath:product.data.imageFileName as productImagePath %}
									<img src="{% static productImagePath %}" alt="{{ product.data.name }}">
								{% endwith %}
							</div>
							<div class="details">
								<h1>{{ product.data.name }}</h1>
								<h2><b>${{ product.data.price }}</b></h2>
								<div class="procons">
									{% for pro in product.pros %}
										<div class="procon">
											<img src="{% static 'images/plus.png' %}" alt="Plus">
											<h1>{{ pro.contents }}</h1>
										</div>
									{% endfor %}
									<div class="spacer"></div>
									{% for con in product.cons %}
										<div class="procon">
											<img src="{% static 'images/minus.png' %}" alt="Plus">
											<h1>{{ con.contents }}</h1>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

	</body>

	<script src="{% static 'scripts/top_nav.js' %}"></script>
	<script src="{% static 'scripts/category.js' %}"></script>
</html>
