<html>
	{% load static %}
	{% load helper %}
	<head>
		<title>SoleBuy</title>

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'styles/common.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
	</head>
	<body>
		{% include "topnav/topnav.html" %}

		<div class="content" style="background-color: rgb(255, 255, 255)">
			{% include "category_bar.html"%}
			<div class="header">
				<div class="slogan">
					<h1 style="background-color: rgb(100, 100, 100);">Search.</h1>
					<h1 style="background-color: rgb(200, 200, 200); color: rgb(40, 40, 40)">Answer.</h1>
					<h1 style="background-color: rgb(150, 150, 150);">Buy.</h1>
				</div>
				<div class="description">
					<h1>Why SoleBuy?</h1>
					<h2><b><i>No</i></b> long reviews.</h2>
					<h2><b><i>No</i></b> abstract spec sheets.</h2>
					<h2><b><i>No</i></b> biased marketing.</h2>
					<h2 style="margin-top: 10px">We simply find the best product <b>for your</b> needs.</h2>
					<h2 style="margin-top: 10px">To start, explore a category above.</h2>
				</div>
			</div>
			{% comment %} <div class="search">
				<form action="category/" method="GET">
					{{ categoryForm }}
				</form>
				<input type="image" src="{% static 'images/search.png' %}" alt="Search Submit" />
			</div> {% endcomment %}
		</div>
	</body>
</html>
