<html>
	<head>
		<title>SoleBuy</title>

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
	</head>
	<body>
		<div class="topnav">
			<div class="topnav-center-header">
				<a href="{% url 'index' %}"><b><i>SoleBuy</i></b></a>
				<a href="{% url 'index' %}">
					{% load static %}
					<img style="padding-left: 7px" src="{% static 'sun.png' %}" alt="Sun Logo">
				</a>
			</div>
			<div class="topnav-right-header">
				<a href="{% url 'community' %}">Community</a>
				<a href="{% url 'about' %}">About</a>
			</div>
		</div>
		<div class="content">
			<div class="header">
				Buying.Is.<i>Hard.</i>
			</div>
			<div class="subheader">
				Finding&nbsp<b>the</b>&nbspbest products, so you don't have to.
			</div>
			<div class="search">
				{% load static %}
				<img src="{% static 'search.png' %}" alt="Search Icon">
				<input type="text" placeholder="Explore a category">
			</div>
			<div class="categories">
				<b>or</b>&nbspselect one
			</div>
		</div>
	</body>
</html>
