{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/product_popup.css' %}">

<div id="productPopupContainer" class="product-popup-container">
    <div class="product-popup">
        <div class="image-container">
            <img id="image">
            <h1 id="name"></h1>
        </div>
        <div class="summaries">
            <fieldset>
                <legend>&nbsp The good &nbsp</legend>
                <p id="prosSummary"></p>
            </fieldset>
            <fieldset>
                <legend>&nbsp The bad &nbsp</legend>
                <p id="consSummary"></p>
            </fieldset>
        </div>
        <div class="specs">
            <h1>Specs that matter</h1>
            <hr>
            <div id="details" class="details"></div>
        </div>
    </div>
</div>
