<html>
	{% load static %}
	<head>
		<title>SoleBuy - {{ category.name }}</title>

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'product.css' %}">
	</head>
	<body>
		<div class="topnav">
			<div class="topnav-center-header">
				<a href="{% url 'index' %}"><i>SoleBuy</i></a>
				<a href="{% url 'index' %}">
					<img style="padding-left: 7px" src="{% static 'sun.png' %}" alt="Sun Logo">
				</a>
			</div>
			<div class="topnav-right-header">
				<a href="{% url 'community' %}">Community</a>
				<a href="{% url 'about' %}">About</a>
			</div>
		</div>
		<div class="content">
			<div class="search" style="margin-top: 2%">
				<form action="" method="GET">
					{{ searchForm }}
				</form>
				<input type="image" src="{% static 'search.png' %}" alt="Search Submit" />
			</div>
			<form action="" method="POST">
				{% csrf_token %}
				<div class="filters">
					{% with "float: left; width: calc(100% / "|add:filterWidth|add:")" as filterStyle %}
						{% for selectForm in selectForms %}
							<div style="{{ filterStyle }}">
								<h3>{{ selectForm.prompt }}</h3>
								{{ selectForm }}
							</div>
						{% endfor %}
					{% endwith %}
					<input type="Submit"/>
				</div>
			</form>
		</div>
	</body>
</html>
