<html>
	{% load static %}
	{% load helper %}
	<head>
		<title>SoleBuy - {{ searchForm.text.value }}</title>

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'product.css' %}">
	</head>
	<body>
		{% include "navbar.html" %}

		<div class="content">
			<div class="search" style="margin-top: 2%">
				<form action="" method="GET">
					{{ searchForm }}
				</form>
				<input type="image" src="{% static 'search.png' %}" alt="Search Submit" />
			</div>
			<form action="" method="POST">
				{% csrf_token %}
				<div class="filters" style="{{ assisters|length|buildFiltersStyle }}">
					{% for assister in assisters %}
						<div class="filter" style="{{ assisters|length|buildFilterStyle }}">
							<h3>{{ assister.prompt }}</h3>
							<hr>
							{% with forloop.counter0|stringformat:"i" as assisterId %}
								{% for filterText in assister.filters %}
									<button type="Submit" name="button" value={{ assisterId|determineButtonValue:forloop.counter0 }}>{{ filterText }}</button>
								{% endfor %}
							{% endwith %}
						</div>
					{% endfor %}
					{{ results }}
				</div>
			</form>
		</div>
	</body>
</html>
