{% load static %}
{% load helper %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/product_popup.css' %}">

<div id="productPopup" class="product-popup">
    <div class="content">
        <div class="close">
            &times;
        </div>
        <div class="info">
            <div class="imagename">
                <img id="image">
                <h1 id="name"></h1>
            </div>
            <div class="summaries">
                <fieldset style="margin-bottom: 10px">
                    <legend>&nbsp The good &nbsp</legend>
                    <p id="prosSummary"></p>
                </fieldset>
                <fieldset style="">
                    <legend>&nbsp The bad &nbsp</legend>
                    <p id="consSummary"></p>
                </fieldset>
            </div>
        </div>
        <div id="details" class="details"></div>
    </div>
</div>
