{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/product_popup.css' %}">

<div id="productPopupContainer" class="product-popup-container">
    <div id="productPopup" class="product-popup">
        <div class="image-container">
            <img id="image">
            <h1 id="name"></h1>
        </div>
        <div class="summaries">
            <h1>The good</h1>
            <p id="prosSummary"></p>
            <h1>The bad</h1>
            <p id="consSummary"></p>
        </div>
        <div class="specs">
            <h1>Specs that matter</h1>
            <div id="details" class="details"></div>
        </div>
    </div>
</div>
