body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0;
    font-family: Roboto;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: rgb(255, 255, 255);
    overflow: auto;
}

@media only screen and (max-width: 580px) {
    .content {
        display: block;

        padding-bottom: 17vh;
    }
}
