.topnav {
    display: flex;
    flex-direction: column;
}

.topnav .primary {
    display: flex;
    width: 100%;
    height: 53px;
    z-index: 1;

    justify-content: center;
    align-items: center;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
}

.topnav .primary .left {
    position: absolute;
    left: 0;

    margin-left: 10px;
}

.topnav .primary .left h1 {
    font-size: 18px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.topnav .primary .left h1:hover {
    color: rgb(238, 238, 238);
}

.topnav .primary .center {
    display: flex;
}

.topnav .primary .center a {
    text-decoration: none;
}

.topnav .primary .center j {
    position: relative;

    font-size: 21px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}

.topnav .primary .center j:hover {
    color: rgb(238, 238, 238);
}

.topnav .primary .center img {
    position: relative;

    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.topnav .primary .right {
    position: absolute;
    right: 0;

    margin-right: 10px;
}

.topnav .primary .right a {
    margin-left: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.topnav .primary .right a:hover {
    color: rgb(238, 238, 238);
}

.topnav .category-bar {
    display: none;
    position: relative;
    top: 0px;
    width: 100%;
    height: 99px;

    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
}

.topnav .category-bar .category {
    display: inline-block;
    position: relative;

    margin: 10px 50px 10px 50px;
}

.topnav .category-bar .category img {
    width: 60px;
    height: 60px;
}

.topnav .category-bar .category h1 {
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    color: rgb(21, 21, 21);
    font-weight: normal;
}

.topnav .category-bar .category h3:hover {
    color: rgb(34, 34, 34);
}

@media only screen and (max-width: 580px) {
    .topnav .primary .right {
        display: none;
    }
}

/* .topnav .search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0%, -50%);
    width: 20%;
    min-width: 250px;
    max-width: 400px;
    height: 70%;

    padding-left: 5px;
    font-size: 30px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}

.topnav .search input[type=text] {
    position: absolute;
    float: left;
    width: calc(100% - 40px);
    height: 100%;

    font-size: 20px;
    background-color: rgb(51, 51, 51);
    color: rgb(187, 187, 187);
    border: none;
    outline: none;
}

.topnav .search img, input[type=image] {
    position: absolute;
    float: left;
    top: 50%;
    right: 5px;
    transform: translate(0%, -50%);
    width: 30px;
    height: 30px;
} */
