{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/topnav.css' %}">

<div class="topnav">
    {% comment %} <div class="search">
        <input type="image" src="{% static 'images/search_topnav.png' %}" alt="Search Submit" />
        <form action="" method="GET">
            {{ categoryForm }}
        </form>
    </div> {% endcomment %}
    <div class="topnav-center-header">
        <a href="{% url 'home' %}">
            <j><b><i>SoleBuy</i></b></j>
            <img style="padding-left: 7px" src="{% static 'images/sun.png' %}" alt="Sun Logo">
        </a>
    </div>
    <div class="topnav-right-header">
        <a href="{% url 'community' %}">Community</a>
        <a href="{% url 'about' %}">About</a>
    </div>
</div>
